*{
   box-sizing:border-box;
}
body {margin:0;
   background:url(picture/background.jpg);  
   font-family: Microsoft JhengHei;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:url(picture/column.png);
    position: fixed;
    top: 0;
    width: 100%;
    float:right;
}

li {
    float: right;
}

li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:19pt;
    font-weight: lighter;
}

}

/*.aboutwrapper{
    padding-top:10%;
    width:40%;
    padding-left:10%;
}

.aboutwrapper h1{
    text-align:center;
    color:white;
    font-size:400%;
    font-style:italic;
    font-family:sans-serif;
}

.aboutwrapper p{
    color:white; 
}
*/
.signinwrapper{
    width:25%;
    height:320px;
    position:absolute;
    right:10%;
    top:200px;
    text-align:center;
    background-color:rgba(0,0,0,0.4);
    border-radius:25px;
}

.signinwrapper h2{
   color:#ffffff;
   font-style: italic;
   font-size: 25px;
}

input{
  width:90%;
  padding:12px;
  margin:15px;
}

input[type=text] {
   background-color:rgba(100,100,100,0.4);
   border:2px solid white;
   border-radius:20px;
}

input[type=submit]{
   border-radius:20px;
   background-color:rgb(252,246,184);
