body {margin:0;
   background:url(picture/background.jpg);   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(222, 222, 222, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    float:right;
}

li {
    float: left;
}

li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Microsoft JhengHei UI;
    font-size:19pt;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #000000;
}
